# SPDX-License-Identifier: MIT

# System clock 72MHz
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=72000000

# Enable reset by default
CONFIG_RESET=y

# Enable clock control
CONFIG_CLOCK_CONTROL=y

# Code partition needed to target the correct flash range
CONFIG_USE_DT_CODE_PARTITION=y

# USB HID
CONFIG_ZMK_USB=y

# Enable GPIO
CONFIG_GPIO=y

# Defaults for matrix scanning to avoid interrupt issues
CONFIG_ZMK_KSCAN_MATRIX_POLLING=y

# Flash and settings
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y
CONFIG_NVS=y
CONFIG_SETTINGS=y

# Pin controller
CONFIG_PINCTRL=y
